<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">دوره آموزش رایگان آلمانی</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      دوره‌های رایگان استاد دارائی با ارائه‌ی کاملا رایگان کلاس‌های آموزش
      آلمانی، این فرصت را به شما خواهد داد تا با یادگیری این زبان، فرصت‌های
      مهاجرتی بهتری داشته باشید. برای دیدن لینک‌های صفحات مجازی ما روی دکمه
      پایین کلیک کنید
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="#links">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
          لینک صفحات مجازی
          <i class="fas fa-chevron-down"></i>
        </button>
      </a>
    </div>
  </div>
</div>
<section class="home-wrapper container-xs">
  <div class="links-wrapper" id="links">
    <div class="card-group">
      <div class="card">
        <img
          src="assets/images/youtube-glass-geometry-shapes-abstract-composition-art-3d-rendering_1379-5644.webp"
          class="card-img-top"
          alt="Youtube glass image"
        />
        <div class="card-body">
          <h5 class="card-title">صفحه یوتوب ما</h5>
          <p class="card-text">
            برای دیدن همه استریم و کلاس‌های قبلی و شرکت در کلاس‌های آنلاین کانال
            Youtube مارا دنبال کنید
          </p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-danger" type="button">
              <a href="https://youtube.com/@smartmanagementraymon8054">
                ورود به صفحه Youtube
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="assets/images/telegram-logo-abstract-geometry_41204-9667.webp"
          class="card-img-top"
          alt="Telegram glass image"
        />
        <div class="card-body">
          <h5 class="card-title">کانال تلگرام</h5>
          <p class="card-text">
            میتوانید به صورت آنلاین در کلاس‌های آلمانی تلگرام شرکت کنید
          </p>
          <br />
          <br />
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">
              <a href="https://t.me/happyrolling11">
                ورود به صفحه تلگرام
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="assets/images/linkedin-logo-around-3d-rendering-abstract-shape-background_1379-4855.webp"
          class="card-img-top"
          alt="Youtube glass image"
        />
        <div class="card-body">
          <h5 class="card-title">صفحه لینکدین</h5>
          <p class="card-text">
            برای در ارطبات بودن و شرکت در کلاس‌ها صفحه لینکدین را دنبال کنید
          </p>
          <br />
          <br />
          <br />

          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">
              <a href="https://www.linkedin.com/company/smartmng">
                ورود به صفحه لینکدین
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img
          src="assets/images/instagram-logo-around-3d-rendering-abstract-shape-background_1379-4778.webp"
          class="card-img-top"
          alt="Instagram glass image"
        />
        <div class="card-body">
          <h5 class="card-title">صفحه اینستاگرام ما</h5>
          <p class="card-text">آخرین اخبار را در این صفحه دنبال کنید</p>
          <br />
          <br />
          <br />

          <div class="d-grid gap-2">
            <button class="btn btn-outline-danger" type="button">
              <a href="https://instagram.com/happyrolling1">
                ورود به صفحه اینستاگرام
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/aparat.jpg"
          class="card-img-top"
          alt="Instagram glass image"
        />
        <div class="card-body">
          <h5 class="card-title">صفحه آپارات</h5>
          <p class="card-text">شما میتوانید کلاس‌هارا از آپارات دنبال کنید</p>
          <br />
          <br />
          <br />

          <div class="d-grid gap-2 text-center">
            <button class="btn btn-outline-danger" type="button">
              <a href="https://www.aparat.com/J.daraei/live">
                ورود به صفحه آپارات
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/google-meet.jpeg"
          class="card-img-top"
          alt="Google Meet banner"
        />
        <div class="card-body">
          <h5 class="card-title">لینک کلاس گوگل میت</h5>
          <p class="card-text">لینک جلسه ای که میتوانید در کلاس شرکت کنید</p>
          <br />
          <br />
          <br />

          <div class="d-grid gap-2 text-center">
            <button class="btn btn-outline-danger" type="button">
              <a href="https://www.aparat.com/J.daraei/live">
                ورود به Google Meet
                <i class="fas fa-sign-in"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
